<a href="https://colab.research.google.com/github/alirezash97/Titanic/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder


trainset = pd.read_csv("/content/drive/My Drive/titanic project/train.csv")
trainset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [48]:
trainset.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [0]:

trainset = preprocessing(trainset)

In [0]:
def preprocessing(table):
    table = table.rename(columns = {'Pclass' : 'TicketClass'})
    table = table.drop(['Name','Ticket','Fare','Cabin','Embarked','Age'],axis =1)
    label_encoder_sex = LabelEncoder()
    table.iloc[:,3]  = label_encoder_sex.fit_transform(table.iloc[:,3])
    return table

In [50]:
trainset = trainset[['PassengerId','Sex','SibSp','Parch','TicketClass','Survived']]
trainset.head()

   PassengerId  Sex  SibSp  Parch  TicketClass  Survived
0            1    1      1      0            3         0
1            2    0      1      0            1         1
2            3    0      0      0            3         1
3            4    0      1      0            1         1
4            5    1      0      0            3         0

In [0]:
X_train = trainset.iloc[:,0:5]
y_train = trainset.iloc[:,5]

In [64]:
from numpy import loadtxt
from keras.models import Sequential, Model
from keras.layers import Input, Dense

model = Sequential()
model.add(Dense(32, input_dim=5, activation='relu'))
model.add(Dense(64,  activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64,  activation='relu'))
model.add(Dense(32,  activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_35 (Dense)             (None, 32)                192
_________________________________________________________________
dense_36 (Dense)             (None, 64)                2112
_________________________________________________________________
dense_37 (Dense)             (None, 128)               8320
_________________________________________________________________
dense_38 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_39 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_40 (Dense)             (None, 1)                 33
=================================================================
Total params: 20,993
Trainable params: 20,993
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [66]:
model.fit(X_train, y_train, epochs=100, batch_size=50)

Epoch 1/100
891/891 [==============================] - 1s 702us/step - loss: 1.5170 - acc: 0.4949
Epoch 2/100
891/891 [==============================] - 0s 40us/step - loss: 1.0209 - acc: 0.5320
Epoch 3/100
891/891 [==============================] - 0s 38us/step - loss: 0.8589 - acc: 0.5589
Epoch 4/100
891/891 [==============================] - 0s 39us/step - loss: 0.8282 - acc: 0.5354
Epoch 5/100
891/891 [==============================] - 0s 36us/step - loss: 0.7053 - acc: 0.5993
Epoch 6/100
891/891 [==============================] - 0s 38us/step - loss: 0.7493 - acc: 0.5522
Epoch 7/100
891/891 [==============================] - 0s 37us/step - loss: 0.8383 - acc: 0.5556
Epoch 8/100
891/891 [==============================] - 0s 38us/step - loss: 0.7838 - acc: 0.5600
Epoch 9/100
891/891 [==============================] - 0s 37us/step - loss: 0.6855 - acc: 0.5859
Epoch 10/100
891/891 [==============================] - 0s 37us/step - loss: 0.6625 - acc: 0.6162
Epoch 11/100
891/891 [==============================] - 0s 35us/step - loss: 0.7183 - acc: 0.5960
Epoch 12/100
891/891 [==============================] - 0s 39us/step - loss: 0.7283 - acc: 0.5836
Epoch 13/100
891/891 [==============================] - 0s 39us/step - loss: 0.8401 - acc: 0.5410
Epoch 14/100
891/891 [==============================] - 0s 37us/step - loss: 0.6608 - acc: 0.6229
Epoch 15/100
891/891 [==============================] - 0s 40us/step - loss: 0.6502 - acc: 0.6308
Epoch 16/100
891/891 [==============================] - 0s 38us/step - loss: 0.6606 - acc: 0.6105
Epoch 17/100
891/891 [==============================] - 0s 39us/step - loss: 0.6510 - acc: 0.6162
Epoch 18/100
891/891 [==============================] - 0s 37us/step - loss: 0.6397 - acc: 0.6195
Epoch 19/100
891/891 [==============================] - 0s 35us/step - loss: 0.6775 - acc: 0.6296
Epoch 20/100
891/891 [==============================] - 0s 36us/step - loss: 0.6761 - acc: 0.6038
Epoch 21/100
891/891 [==============================] - 0s 38us/step - loss: 0.6832 - acc: 0.5960
Epoch 22/100
891/891 [==============================] - 0s 36us/step - loss: 0.6925 - acc: 0.6330
Epoch 23/100
891/891 [==============================] - 0s 37us/step - loss: 0.7216 - acc: 0.5814
Epoch 24/100
891/891 [==============================] - 0s 47us/step - loss: 0.7286 - acc: 0.5825
Epoch 25/100
891/891 [==============================] - 0s 39us/step - loss: 0.6376 - acc: 0.6431
Epoch 26/100
891/891 [==============================] - 0s 36us/step - loss: 0.6936 - acc: 0.5993
Epoch 27/100
891/891 [==============================] - 0s 39us/step - loss: 0.6396 - acc: 0.6453
Epoch 28/100
891/891 [==============================] - 0s 39us/step - loss: 0.6479 - acc: 0.6330
Epoch 29/100
891/891 [==============================] - 0s 38us/step - loss: 0.6753 - acc: 0.6409
Epoch 30/100
891/891 [==============================] - 0s 38us/step - loss: 0.7578 - acc: 0.6117
Epoch 31/100
891/891 [==============================] - 0s 37us/step - loss: 1.0003 - acc: 0.5690
Epoch 32/100
891/891 [==============================] - 0s 39us/step - loss: 0.6340 - acc: 0.6476
Epoch 33/100
891/891 [==============================] - 0s 35us/step - loss: 0.6169 - acc: 0.6633
Epoch 34/100
891/891 [==============================] - 0s 38us/step - loss: 0.6213 - acc: 0.6532
Epoch 35/100
891/891 [==============================] - 0s 37us/step - loss: 0.5880 - acc: 0.6678
Epoch 36/100
891/891 [==============================] - 0s 40us/step - loss: 0.6154 - acc: 0.6409
Epoch 37/100
891/891 [==============================] - 0s 37us/step - loss: 0.6273 - acc: 0.6285
Epoch 38/100
891/891 [==============================] - 0s 37us/step - loss: 0.6368 - acc: 0.6386
Epoch 39/100
891/891 [==============================] - 0s 36us/step - loss: 0.5844 - acc: 0.6779
Epoch 40/100
891/891 [==============================] - 0s 37us/step - loss: 0.5728 - acc: 0.6869
Epoch 41/100
891/891 [==============================] - 0s 36us/step - loss: 0.6852 - acc: 0.6655
Epoch 42/100
891/891 [==============================] - 0s 36us/step - loss: 0.7497 - acc: 0.6240
Epoch 43/100
891/891 [==============================] - 0s 46us/step - loss: 0.6548 - acc: 0.6352
Epoch 44/100
891/891 [==============================] - 0s 42us/step - loss: 0.5804 - acc: 0.6925
Epoch 45/100
891/891 [==============================] - 0s 39us/step - loss: 0.5973 - acc: 0.6947
Epoch 46/100
891/891 [==============================] - 0s 39us/step - loss: 0.5650 - acc: 0.7351
Epoch 47/100
891/891 [==============================] - 0s 39us/step - loss: 0.5747 - acc: 0.7138
Epoch 48/100
891/891 [==============================] - 0s 38us/step - loss: 0.5443 - acc: 0.7553
Epoch 49/100
891/891 [==============================] - 0s 35us/step - loss: 0.5511 - acc: 0.7407
Epoch 50/100
891/891 [==============================] - 0s 36us/step - loss: 0.6138 - acc: 0.6756
Epoch 51/100
891/891 [==============================] - 0s 36us/step - loss: 0.6040 - acc: 0.6936
Epoch 52/100
891/891 [==============================] - 0s 36us/step - loss: 0.5496 - acc: 0.7340
Epoch 53/100
891/891 [==============================] - 0s 36us/step - loss: 0.5524 - acc: 0.6891
Epoch 54/100
891/891 [==============================] - 0s 36us/step - loss: 0.6603 - acc: 0.6655
Epoch 55/100
891/891 [==============================] - 0s 40us/step - loss: 0.5651 - acc: 0.7396
Epoch 56/100
891/891 [==============================] - 0s 36us/step - loss: 0.5109 - acc: 0.7890
Epoch 57/100
891/891 [==============================] - 0s 35us/step - loss: 0.5455 - acc: 0.7250
Epoch 58/100
891/891 [==============================] - 0s 37us/step - loss: 0.5318 - acc: 0.7475
Epoch 59/100
891/891 [==============================] - 0s 36us/step - loss: 0.5776 - acc: 0.7138
Epoch 60/100
891/891 [==============================] - 0s 37us/step - loss: 0.7209 - acc: 0.6689
Epoch 61/100
891/891 [==============================] - 0s 35us/step - loss: 0.5519 - acc: 0.7239
Epoch 62/100
891/891 [==============================] - 0s 39us/step - loss: 0.6200 - acc: 0.6891
Epoch 63/100
891/891 [==============================] - 0s 37us/step - loss: 0.5290 - acc: 0.7598
Epoch 64/100
891/891 [==============================] - 0s 37us/step - loss: 0.6315 - acc: 0.6857
Epoch 65/100
891/891 [==============================] - 0s 36us/step - loss: 0.5881 - acc: 0.7015
Epoch 66/100
891/891 [==============================] - 0s 38us/step - loss: 0.6251 - acc: 0.7026
Epoch 67/100
891/891 [==============================] - 0s 37us/step - loss: 0.5593 - acc: 0.7205
Epoch 68/100
891/891 [==============================] - 0s 37us/step - loss: 0.5558 - acc: 0.7385
Epoch 69/100
891/891 [==============================] - 0s 37us/step - loss: 0.5301 - acc: 0.7621
Epoch 70/100
891/891 [==============================] - 0s 38us/step - loss: 0.5059 - acc: 0.7811
Epoch 71/100
891/891 [==============================] - 0s 38us/step - loss: 0.5186 - acc: 0.7811
Epoch 72/100
891/891 [==============================] - 0s 36us/step - loss: 0.5486 - acc: 0.7497
Epoch 73/100
891/891 [==============================] - 0s 37us/step - loss: 0.4897 - acc: 0.7912
Epoch 74/100
891/891 [==============================] - 0s 38us/step - loss: 0.5399 - acc: 0.7486
Epoch 75/100
891/891 [==============================] - 0s 41us/step - loss: 0.4920 - acc: 0.7834
Epoch 76/100
891/891 [==============================] - 0s 44us/step - loss: 0.4821 - acc: 0.7980
Epoch 77/100
891/891 [==============================] - 0s 39us/step - loss: 0.4982 - acc: 0.7935
Epoch 78/100
891/891 [==============================] - 0s 37us/step - loss: 0.5109 - acc: 0.7565
Epoch 79/100
891/891 [==============================] - 0s 36us/step - loss: 0.4853 - acc: 0.7890
Epoch 80/100
891/891 [==============================] - 0s 37us/step - loss: 0.4857 - acc: 0.8002
Epoch 81/100
891/891 [==============================] - 0s 39us/step - loss: 0.4825 - acc: 0.7969
Epoch 82/100
891/891 [==============================] - 0s 36us/step - loss: 0.5665 - acc: 0.7363
Epoch 83/100
891/891 [==============================] - 0s 38us/step - loss: 0.5758 - acc: 0.7284
Epoch 84/100
891/891 [==============================] - 0s 36us/step - loss: 0.4967 - acc: 0.7811
Epoch 85/100
891/891 [==============================] - 0s 37us/step - loss: 0.5021 - acc: 0.7890
Epoch 86/100
891/891 [==============================] - 0s 40us/step - loss: 0.5555 - acc: 0.7396
Epoch 87/100
891/891 [==============================] - 0s 37us/step - loss: 0.4920 - acc: 0.7800
Epoch 88/100
891/891 [==============================] - 0s 39us/step - loss: 0.4959 - acc: 0.7935
Epoch 89/100
891/891 [==============================] - 0s 37us/step - loss: 0.5087 - acc: 0.7733
Epoch 90/100
891/891 [==============================] - 0s 38us/step - loss: 0.4879 - acc: 0.7879
Epoch 91/100
891/891 [==============================] - 0s 35us/step - loss: 0.4914 - acc: 0.7845
Epoch 92/100
891/891 [==============================] - 0s 36us/step - loss: 0.5319 - acc: 0.7452
Epoch 93/100
891/891 [==============================] - 0s 37us/step - loss: 0.5296 - acc: 0.7374
Epoch 94/100
891/891 [==============================] - 0s 39us/step - loss: 0.4738 - acc: 0.7991
Epoch 95/100
891/891 [==============================] - 0s 37us/step - loss: 0.4838 - acc: 0.7901
Epoch 96/100
891/891 [==============================] - 0s 37us/step - loss: 0.4853 - acc: 0.7789
Epoch 97/100
891/891 [==============================] - 0s 37us/step - loss: 0.4634 - acc: 0.8013
Epoch 98/100
891/891 [==============================] - 0s 40us/step - loss: 0.5464 - acc: 0.7553
Epoch 99/100
891/891 [==============================] - 0s 36us/step - loss: 0.4849 - acc: 0.7800
Epoch 100/100
891/891 [==============================] - 0s 44us/step - loss: 0.5196 - acc: 0.7553