<a href="https://colab.research.google.com/github/alirezash97/Titanic/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [299]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder


trainset = pd.read_csv("/content/drive/My Drive/titanic project/train.csv")
testset = pd.read_csv("/content/drive/My Drive/titanic project/test.csv")
testset.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [0]:
def preprocessing(table):
    table = table.rename(columns = {'Pclass' : 'TicketClass'})
    table = table.drop(['Name','Ticket','Cabin'],axis =1)
    table['Sex'].replace({'male': 1, 'female':2 }, inplace=True)
    table['Age'].replace({float('NaN'): 29 }, inplace=True)
    table['Embarked'].replace({float('NaN'): 0,'S': 1 , 'C': 2, 'Q': 3}, inplace=True)
    return table

In [0]:
trainset = preprocessing(trainset)
testset = preprocessing(testset)

In [227]:
print(testset.head())

   PassengerId  TicketClass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892            3    1  34.5      0      0   7.8292         3
1          893            3    2  47.0      1      0   7.0000         1
2          894            2    1  62.0      0      0   9.6875         3
3          895            3    1  27.0      0      0   8.6625         1
4          896            3    2  22.0      1      1  12.2875         1

In [302]:
trainset = trainset[['PassengerId','TicketClass','Sex','Age','SibSp','Parch','Fare','Embarked','Survived']]
trainset.head()

   PassengerId  TicketClass  Sex   Age  ...  Parch     Fare  Embarked  Survived
0            1            3    1  22.0  ...      0   7.2500         1         0
1            2            1    2  38.0  ...      0  71.2833         2         1
2            3            3    2  26.0  ...      0   7.9250         1         1
3            4            1    2  35.0  ...      0  53.1000         1         1
4            5            3    1  35.0  ...      0   8.0500         1         0

[5 rows x 9 columns]

In [211]:
print(trainset.shape)

(891, 9)

In [0]:
X_train = trainset.iloc[:,:8]
y_train = trainset.iloc[:,8]

In [304]:
from numpy import loadtxt
from keras.models import Sequential, Model
from keras.layers import Input, Dense

model = Sequential()
model.add(Dense(64, input_dim=8, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(128,  activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_22"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_119 (Dense)            (None, 64)                576
_________________________________________________________________
dense_120 (Dense)            (None, 256)               16640
_________________________________________________________________
dense_121 (Dense)            (None, 128)               32896
_________________________________________________________________
dense_122 (Dense)            (None, 1)                 129
=================================================================
Total params: 50,241
Trainable params: 50,241
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [306]:
model.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
891/891 [==============================] - 2s 2ms/step - loss: 5.6547 - acc: 0.6061
Epoch 2/100
891/891 [==============================] - 0s 71us/step - loss: 4.1851 - acc: 0.5993
Epoch 3/100
891/891 [==============================] - 0s 76us/step - loss: 3.6306 - acc: 0.5724
Epoch 4/100
891/891 [==============================] - 0s 73us/step - loss: 3.1261 - acc: 0.6016
Epoch 5/100
891/891 [==============================] - 0s 75us/step - loss: 1.1655 - acc: 0.6218
Epoch 6/100
891/891 [==============================] - 0s 75us/step - loss: 0.8482 - acc: 0.5993
Epoch 7/100
891/891 [==============================] - 0s 76us/step - loss: 1.1361 - acc: 0.5769
Epoch 8/100
891/891 [==============================] - 0s 74us/step - loss: 0.6848 - acc: 0.6667
Epoch 9/100
891/891 [==============================] - 0s 74us/step - loss: 0.7488 - acc: 0.6487
Epoch 10/100
891/891 [==============================] - 0s 71us/step - loss: 0.6818 - acc: 0.6611
Epoch 11/100
891/891 [==============================] - 0s 77us/step - loss: 0.7755 - acc: 0.6532
Epoch 12/100
891/891 [==============================] - 0s 74us/step - loss: 0.7316 - acc: 0.6296
Epoch 13/100
891/891 [==============================] - 0s 74us/step - loss: 0.7898 - acc: 0.6341
Epoch 14/100
891/891 [==============================] - 0s 70us/step - loss: 0.7655 - acc: 0.6105
Epoch 15/100
891/891 [==============================] - 0s 77us/step - loss: 1.1391 - acc: 0.6016
Epoch 16/100
891/891 [==============================] - 0s 71us/step - loss: 0.7752 - acc: 0.6779
Epoch 17/100
891/891 [==============================] - 0s 73us/step - loss: 0.7659 - acc: 0.6554
Epoch 18/100
891/891 [==============================] - 0s 73us/step - loss: 0.6754 - acc: 0.6622
Epoch 19/100
891/891 [==============================] - 0s 75us/step - loss: 0.8177 - acc: 0.6442
Epoch 20/100
891/891 [==============================] - 0s 77us/step - loss: 0.6868 - acc: 0.6543
Epoch 21/100
891/891 [==============================] - 0s 69us/step - loss: 0.8809 - acc: 0.6510
Epoch 22/100
891/891 [==============================] - 0s 74us/step - loss: 0.6931 - acc: 0.6734
Epoch 23/100
891/891 [==============================] - 0s 74us/step - loss: 0.7718 - acc: 0.6442
Epoch 24/100
891/891 [==============================] - 0s 79us/step - loss: 0.6563 - acc: 0.6700
Epoch 25/100
891/891 [==============================] - 0s 71us/step - loss: 0.7343 - acc: 0.6689
Epoch 26/100
891/891 [==============================] - 0s 76us/step - loss: 0.6257 - acc: 0.6846
Epoch 27/100
891/891 [==============================] - 0s 74us/step - loss: 0.6376 - acc: 0.6667
Epoch 28/100
891/891 [==============================] - 0s 70us/step - loss: 0.7319 - acc: 0.6420
Epoch 29/100
891/891 [==============================] - 0s 77us/step - loss: 0.6656 - acc: 0.6891
Epoch 30/100
891/891 [==============================] - 0s 74us/step - loss: 0.6299 - acc: 0.6880
Epoch 31/100
891/891 [==============================] - 0s 75us/step - loss: 0.6691 - acc: 0.6689
Epoch 32/100
891/891 [==============================] - 0s 76us/step - loss: 0.8443 - acc: 0.6341
Epoch 33/100
891/891 [==============================] - 0s 81us/step - loss: 0.6546 - acc: 0.6936
Epoch 34/100
891/891 [==============================] - 0s 75us/step - loss: 0.6953 - acc: 0.6667
Epoch 35/100
891/891 [==============================] - 0s 71us/step - loss: 0.6006 - acc: 0.6925
Epoch 36/100
891/891 [==============================] - 0s 71us/step - loss: 0.6156 - acc: 0.7059
Epoch 37/100
891/891 [==============================] - 0s 73us/step - loss: 0.6323 - acc: 0.6846
Epoch 38/100
891/891 [==============================] - 0s 76us/step - loss: 0.6414 - acc: 0.6902
Epoch 39/100
891/891 [==============================] - 0s 79us/step - loss: 0.5636 - acc: 0.7228
Epoch 40/100
891/891 [==============================] - 0s 75us/step - loss: 0.5686 - acc: 0.7104
Epoch 41/100
891/891 [==============================] - 0s 70us/step - loss: 0.6151 - acc: 0.7026
Epoch 42/100
891/891 [==============================] - 0s 72us/step - loss: 0.6227 - acc: 0.7149
Epoch 43/100
891/891 [==============================] - 0s 73us/step - loss: 0.6182 - acc: 0.6880
Epoch 44/100
891/891 [==============================] - 0s 87us/step - loss: 0.7660 - acc: 0.6667
Epoch 45/100
891/891 [==============================] - 0s 75us/step - loss: 0.9847 - acc: 0.6319
Epoch 46/100
891/891 [==============================] - 0s 73us/step - loss: 0.6417 - acc: 0.7003
Epoch 47/100
891/891 [==============================] - 0s 72us/step - loss: 0.5969 - acc: 0.6981
Epoch 48/100
891/891 [==============================] - 0s 77us/step - loss: 0.5841 - acc: 0.7082
Epoch 49/100
891/891 [==============================] - 0s 76us/step - loss: 0.7418 - acc: 0.6667
Epoch 50/100
891/891 [==============================] - 0s 74us/step - loss: 0.9310 - acc: 0.6375
Epoch 51/100
891/891 [==============================] - 0s 75us/step - loss: 0.5934 - acc: 0.7194
Epoch 52/100
891/891 [==============================] - 0s 84us/step - loss: 0.5581 - acc: 0.7239
Epoch 53/100
891/891 [==============================] - 0s 75us/step - loss: 0.5621 - acc: 0.7363
Epoch 54/100
891/891 [==============================] - 0s 73us/step - loss: 0.5869 - acc: 0.7026
Epoch 55/100
891/891 [==============================] - 0s 71us/step - loss: 0.5558 - acc: 0.7160
Epoch 56/100
891/891 [==============================] - 0s 72us/step - loss: 0.5499 - acc: 0.7239
Epoch 57/100
891/891 [==============================] - 0s 74us/step - loss: 0.5500 - acc: 0.7306
Epoch 58/100
891/891 [==============================] - 0s 74us/step - loss: 0.5581 - acc: 0.7295
Epoch 59/100
891/891 [==============================] - 0s 78us/step - loss: 0.6441 - acc: 0.6902
Epoch 60/100
891/891 [==============================] - 0s 74us/step - loss: 0.5892 - acc: 0.7082
Epoch 61/100
891/891 [==============================] - 0s 69us/step - loss: 0.5764 - acc: 0.7284
Epoch 62/100
891/891 [==============================] - 0s 79us/step - loss: 0.5861 - acc: 0.7306
Epoch 63/100
891/891 [==============================] - 0s 73us/step - loss: 0.5552 - acc: 0.7183
Epoch 64/100
891/891 [==============================] - 0s 73us/step - loss: 0.5309 - acc: 0.7329
Epoch 65/100
891/891 [==============================] - 0s 78us/step - loss: 0.5250 - acc: 0.7419
Epoch 66/100
891/891 [==============================] - 0s 73us/step - loss: 0.6009 - acc: 0.7217
Epoch 67/100
891/891 [==============================] - 0s 70us/step - loss: 0.5252 - acc: 0.7508
Epoch 68/100
891/891 [==============================] - 0s 74us/step - loss: 0.5294 - acc: 0.7374
Epoch 69/100
891/891 [==============================] - 0s 72us/step - loss: 0.5503 - acc: 0.7486
Epoch 70/100
891/891 [==============================] - 0s 77us/step - loss: 0.5225 - acc: 0.7587
Epoch 71/100
891/891 [==============================] - 0s 74us/step - loss: 0.5021 - acc: 0.7800
Epoch 72/100
891/891 [==============================] - 0s 73us/step - loss: 0.5299 - acc: 0.7587
Epoch 73/100
891/891 [==============================] - 0s 76us/step - loss: 0.5532 - acc: 0.7217
Epoch 74/100
891/891 [==============================] - 0s 73us/step - loss: 0.5261 - acc: 0.7430
Epoch 75/100
891/891 [==============================] - 0s 74us/step - loss: 0.5032 - acc: 0.7565
Epoch 76/100
891/891 [==============================] - 0s 71us/step - loss: 0.5212 - acc: 0.7565
Epoch 77/100
891/891 [==============================] - 0s 73us/step - loss: 0.4901 - acc: 0.7609
Epoch 78/100
891/891 [==============================] - 0s 84us/step - loss: 0.5554 - acc: 0.7441
Epoch 79/100
891/891 [==============================] - 0s 71us/step - loss: 0.5033 - acc: 0.7699
Epoch 80/100
891/891 [==============================] - 0s 74us/step - loss: 0.4905 - acc: 0.7632
Epoch 81/100
891/891 [==============================] - 0s 73us/step - loss: 0.4907 - acc: 0.7767
Epoch 82/100
891/891 [==============================] - 0s 73us/step - loss: 0.5092 - acc: 0.7654
Epoch 83/100
891/891 [==============================] - 0s 73us/step - loss: 0.5441 - acc: 0.7329
Epoch 84/100
891/891 [==============================] - 0s 73us/step - loss: 0.4898 - acc: 0.7789
Epoch 85/100
891/891 [==============================] - 0s 76us/step - loss: 0.5381 - acc: 0.7430
Epoch 86/100
891/891 [==============================] - 0s 71us/step - loss: 0.5704 - acc: 0.7385
Epoch 87/100
891/891 [==============================] - 0s 73us/step - loss: 0.4945 - acc: 0.7823
Epoch 88/100
891/891 [==============================] - 0s 74us/step - loss: 0.5006 - acc: 0.7677
Epoch 89/100
891/891 [==============================] - 0s 75us/step - loss: 0.5133 - acc: 0.7688
Epoch 90/100
891/891 [==============================] - 0s 74us/step - loss: 0.4924 - acc: 0.7811
Epoch 91/100
891/891 [==============================] - 0s 75us/step - loss: 0.4928 - acc: 0.7722
Epoch 92/100
891/891 [==============================] - 0s 85us/step - loss: 0.5032 - acc: 0.7666
Epoch 93/100
891/891 [==============================] - 0s 69us/step - loss: 0.5592 - acc: 0.7329
Epoch 94/100
891/891 [==============================] - 0s 73us/step - loss: 0.4880 - acc: 0.7733
Epoch 95/100
891/891 [==============================] - 0s 71us/step - loss: 0.4941 - acc: 0.7755
Epoch 96/100
891/891 [==============================] - 0s 79us/step - loss: 0.5126 - acc: 0.7632
Epoch 97/100
891/891 [==============================] - 0s 71us/step - loss: 0.5215 - acc: 0.7486
Epoch 98/100
891/891 [==============================] - 0s 70us/step - loss: 0.4555 - acc: 0.8025
Epoch 99/100
891/891 [==============================] - 0s 75us/step - loss: 0.5492 - acc: 0.7497
Epoch 100/100
891/891 [==============================] - 0s 73us/step - loss: 0.4865 - acc: 0.7733

In [0]:
predictions = model.predict(testset, batch_size=32)

In [308]:
predictions = predictions.flatten() 
print(predictions[:10])
for index,i in enumerate(predictions):
  if i > 0.5:
    predictions[index] = 1
  else:
    predictions[index] = 0

print(predictions[:10])

[0.03292763 0.02193117 0.01709634 0.03734237 0.13082281 0.09168661
 0.11587337 0.2604177  0.18613842 0.13057068]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [0]:
passid = np.array(testset.iloc[:, 0:1])
passid = passid.flatten()

In [0]:
predictions = pd.DataFrame({'PassengerId': passid, 'Survived': predictions}, index=[i for i in range(418)])

In [0]:
predictions.to_csv('Submission.csv', header=False, index=False)